.wrapper{
	height: 87.4vh;
	position: relative;
    top: 4px;
}
.tab{
	color: #4E4444;
	border-right: 1px solid rgb(204, 204, 204);
	background-color: #ccc;
	display: block;
}
.tab ul{
	width: 100%;
}
.tab ul li{
	background-color: #ccc;
	border-bottom: 1px solid rgb(150,150,150);
	position: relative;
	right: -1px;
	height: inherit;
    padding: 15px;
	width: 100%;
	font-weight: 600;
}
.tab ul li.th_active{
	background-color: #FFF;
	border: 1px solid #FFF;
}
.tab_container {
    display: block;
}
.tab_container div{
	background-color: #FFF;
	display: none;
	padding: 30px;
}
.tab_container .tc_active{
	display: block;
}
fieldset {
    padding: 20px;
    font-size: large;
	border-color: #B6FDB6;
}
textarea {
    margin: 10px 0px;
	padding: 6px;
    width: 100%;
    resize: none;
    overflow: auto;
	font-size: large;
}
input[type="text"] {
    padding: 6px;
    margin: 5px 0px;
    width: 100%;
    font-size: inherit;
}
input[type="submit"] {
    margin: 5px 0px;
    padding: 8px;
    font-size: inherit;
}
input[type="text"]:focus,.login input[type="password"]:focus,
textarea:focus {
    outline-color: rgb(41, 228, 41);
}